@font-face {
  font-family: GeistMono;
  src: url(/GeistMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: WindSong;
  src: url(/WindSong-Regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #f5f5f5;
  --navigation-background-color: rgba(245, 245, 245, 0.95);
  --tag-background-color: rgba(95, 158, 160, 0.15);
  --sort-active-color: rgba(210, 190, 255, 0.2);
  --text-color-1: #000;
  --text-color-2: #222;
  --text-color-3: #555;
  --text-color-4: #333;
  --text-color-5: #666;
  --text-color-6: #2a2a2a;
  --tag-text-color: #2a5555;
  --border-color-1: #ccc;
  --border-color-2: rgba(0, 0, 0, 0.1);
  --border-color-3: #2a2a28;
  --text-selection-color: rgba(249, 196, 215, 0.4);
  --strikethrough-line-color: #2a5555b5;
}

.dark-theme {
  --background-color: #161618;
  --navigation-background-color: #161618;
  --tag-text-color: #678E87;
  --text-color-1: #bcac8f;
  --text-color-2: #d66848;
  --border-color-2: #bcac8f32;

}

body {
  font-family: YouYuan, GeistMono, "Courier New", monospace;
  background-color: var(--background-color);
  color: var(--text-color-1);
  overflow-x: hidden;
  font-weight: normal;
  width: 100%;
  min-height: 100vh;
}

::selection {
  background-color: var(--text-selection-color); 
  color: var(--text-color-6); 
}

/* utils class */

.underline-util-class {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-color-1);
  transition: width 0.3s ease;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  /* opacity: 0.7; */
  letter-spacing: 0.1em;
  color: var(--text-color-1);
}

.highlight-pink {
  background-color: rgba(249, 196, 215, 0.2);
  color: #f7b1ca;
}

.highlight-lilac {
  background-color: rgba(210, 190, 255, 0.2);
  color: #cdb7f6;
}

.highlight-mint {
  background-color: rgba(180, 255, 223, 0.2);
  color: #9ce0c5;
}

.highlight-peach {
  background-color: rgba(255, 212, 186, 0.2);
  color: #f7bfa0;
}

.highlight-sky {
  background-color: rgba(186, 227, 255, 0.2);
  color: #9ccffb;
}

.highlight-lemon {
  background-color: rgba(255, 251, 186, 0.2);
  color: #f2e787;
}

.highlight-sage {
  background-color: rgba(200, 231, 207, 0.2);
  color: #96cfa2;
}

.highlight-lavender {
  background-color: rgba(230, 210, 255, 0.2);
  color: #cba4fa;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-color: var(--strikethrough-line-color);
}

a {
  color: var(--text-color-2);
}

button {
  font-family: YouYuan, GeistMono, "Courier New", monospace;
}

.author {
  font-family: "WindSong", cursive;
}

.main-content {
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--navigation-background-color);
  backdrop-filter: blur(8px);
  margin: 0 auto;
  padding: 1.5rem 2rem;
  gap: 1rem;
  /* background-color: cadetblue; */
  /* border-bottom: 2px solid var(--border-color-3); */
}

.nav-right {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 2rem;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.logo {
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.nav-link {
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0.7;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 480px) {
  .nav-links {
    font-size: 0.675rem;
  }
  .nav-right {
    justify-content: space-between;
  }
}

.nav-link:hover,
.nav-link.active {
  opacity: 1;
  transform: translateY(2px);
}

.nav-link-underline {
  position: absolute;
  top: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-color-1);
  transition: width 0.3s ease;
}

.nav-link:hover .nav-link-underline,
.nav-link.active .nav-link-underline {
  width: 100%;
}