---
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Blog | Kayspace";
---

<BaseLayout pageTitle={pageTitle}>
  <Navigation/>
  <section class="hero">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quos odit
      assumenda deleniti sint veritatis a magnam quas, asperiores ullam, officia
      nisi optio eaque tempore. Atque explicabo est totam perspiciatis!
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nihil
      necessitatibus enim repellat quod aliquam ipsa dignissimos porro eum
      minima. Doloribus, culpa ab vel suscipit recusandae quisquam!
      Voluptatibus, magnam animi.
    </p>
  </section>

  <section class="blog-feed-preview"></section>
</BaseLayout>
