<nav class="navbar">
  <!-- <div class="nav-left"><a class="nav-link logo " href="">blog.kayspace</a></div> -->
  <div class="nav-right">
    <a class="nav-link" href="/">home<div class="nav-link-underline"></div></a>
    <a class="nav-link" href="/posts">posts <div class="nav-link-underline"></div></a>
    <a class="nav-link" href="https://kayspace.vercel.app"
      >portfolio◀<div class="nav-link-underline"></div></a
    >
  </div>
</nav>
