---
import BaseLayout from "./BaseLayout.astro";
import "../styles/global.css";
import BlogFooter from "../components/BlogFooter.astro";
import BlogNavigation from "../components/BlogNavigation.astro";

const { frontmatter } = Astro.props;
const { title, date, tags = [] } = frontmatter;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-US", {
      year: "numeric",
      month: "long",
      day: "numeric",
    })
  : "";
---

<BaseLayout pageTitle={title}>
  <div class="blog-container">
    <BlogNavigation />

    <!-- Blog Header -->
    <header class="blog-header">
      <h1>{title}</h1>
      {formattedDate && <p class="post-date">{formattedDate}</p>}

      {
        tags.length > 0 && (
          <div class="tags">
            {tags.map((tag) => (
              <span class="tag">{tag}</span>
            ))}
          </div>
        )
      }
    </header>

    <!-- Blog Content -->
    <section class="blog-content">
      <slot />
    </section>

    <section class="blog-signoff">
      <p>by <span class="author-name">kay</span>,</p>
      <div class="signoff-msg">
        <p>cya until next time!</p>
        <button class="back-to-top" id="backToTop">Back to top ▲</button>
      </div>
    </section>

    <!-- Blog Footer -->
    <BlogFooter />
  </div>
</BaseLayout>

<style is:global>
  .blog-container {
    margin: 0 auto;
    padding: 2rem 4rem 2rem;
    line-height: 1.7;
    /* background-color: darkkhaki; */
  }

  @media (max-width: 768px) {
    .blog-container {
      /* margin: 0 auto; */
      padding: 2rem 2rem 2rem;
    }
  }

  /* Blog Header */
  .blog-header {
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
  }

  .blog-header h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .post-date {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 0.75rem;
  }

  /* Tags */
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .tag {
    background-color: rgba(95, 158, 160, 0.15);
    color: #2a5555;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 0.75rem;
   
  }

  /* Blog Content */
  .blog-content {
    font-size: 1rem;
    color: #222;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  .blog-content h2 {
    /* margin-top: 2rem; */
    font-size: 1.25rem;
  }

  .blog-content p {
    font-size: 0.9rem;
  }

  /* .blog-content p {
    margin: 1.5rem 0 !important;
  } */

  .blog-signoff {
    margin-top: 3rem;
    text-align: left;
    font-size: 0.9rem;
    color: #333;
  }

  .blog-signoff .author-name {
    font-family: "WindSong", cursive; 
    font-size: 1rem;
    /* text-transform: uppercase; */
  }

  .signoff-msg {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
  }

  .back-to-top {
    padding: 0.4rem 0.6rem;
    color: #333;
    font-family: inherit;
    border: none;
    cursor: pointer;
    background: transparent;
    text-decoration: underline;
    font-size: 0.8rem;
  }
</style>

<script>
  document.getElementById("backToTop").addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
